<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Edit</title>
  </head>
  <body>
    <div>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/getAddUser">Add User</a></li>
      </ul>
    </div>
    <div>
      <fieldset>
        <%= JSON.stringify(userById)%>
        <form action="/editUser" method="POST">
          <legend>Edit USER</legend>
          <input
            type="text"
            name="id"
            value="<%= userById.id %>"
            type="hidden"
          />
          <div>
            <span>Email</span>
            <input type="text" name="email" value="<%= userById.email %>" />
          </div>
          <div>
            <span>Name</span>
            <input type="text" name="name" value="<%= userById.name %>" />
          </div>
          <div>
            <span>Address </span>
            <input type="text" name="address" value="<%= userById.city %>" />
          </div>
          <button type="submit">Edit</button>
        </form>
      </fieldset>
    </div>
  </body>
</html>
