<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./css/styles.css" />
    <title>Document</title>
  </head>
  <body>
    <div>
      <ul>
        <li><a href="/" class="active">Home</a></li>
        <li><a href="/getAddUser">Add User</a></li>
        <li><a href="contact.asp">Contact</a></li>
        <li><a href="about.asp">About</a></li>
      </ul>
    </div>

    <table>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Email</th>
        <th>Country</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
      <% for(var i = 0; i < ListUser.length; i++) { %>
      <tr>
        <td><%= ListUser[i].id %></td>
        <td><%= ListUser[i].name %></td>
        <td><%= ListUser[i].email %></td>
        <td><%= ListUser[i].city %></td>
        <td><a href="/editUser/<%= ListUser[i].id %>">Edit</a></td>
        <td><a href="#">Delete</a></td>
      </tr>
      <% } %>
    </table>
  </body>
</html>
